@font-face {
    font-family: retroFont;
    src: url(fonts/ALBAS___.TTF);
}

@font-face {
    font-family: eina;
    src: url(fonts/eina-01-semibold.ttf);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-family: eina;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.box {
    background: linear-gradient(140deg, #0a3a58, #126497, #faf8eb);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 450px;
    margin: 50px auto;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.083);
}

.part {
    position: relative;
    display: flex;
    font-family: eina;
    font-size: 22px;
    color: white;
    align-items: center;
    margin: 20px;
}

#b1 {
    z-index: 1;
    opacity: 0.2;
}

#b2 {
    z-index: 2;
    opacity: 0.5;
    transform: translate(10px, 10px);
}

#b3 {
    z-index: 3;
    transform: translate(20px, 20px);
}

.bookimg {
    position: absolute;
    top: 0;
    left: 0;
}

hr {
    border: 5px solid #0a3a58;
    border-radius: 10px;
    width: 5%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.retro {
    font-family: retroFont;
    font-size: larger;
}

.title {
    padding: 10px;
    margin-left: 200px;
    border-radius: 5px;
}

.review {
    width: 50%;
    margin: 0 auto;
}

.margin {
    margin-bottom: 20px;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #fbf8e6;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.083);
    padding: 10px;
}

.book {
    float: left;
    margin: 20px;
    width: 50%;
    height: auto;
}

.center {
    text-align: center;
}

.specialbtn {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: rgb(192, 192, 192);
    background-color: rgb(255, 255, 255);
    border: 5px solid;
    border-radius: 5px;
    transition: transform 0.3s ease 0s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.specialbtn:hover {
    transform: translateY(-5px);
}

.footer {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #126497a6;
    padding: 20px;
}

@media (max-width: 800px) {

    .flex,
    .box {
        width: 100%;
    }

    .title {
        margin-left: 10px;
    }

    .book {
        display: none;
    }
}