/* Fonts */
@font-face {
    font-family: retroFont;
    src: url(fonts/ALBAS___.TTF);
}

@font-face {
    font-family: eina;
    src: url(fonts/eina-01-semibold.ttf);
}

/* Body */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Headings */
h1 {
    margin-top: 70px;
    text-align: center;
    font-family: eina;
    font-size: 35pt;
}

h2 {
    font-size: 22pt;
}

/* Paragraphs and Lists */
p, li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
}

/* Box */
.box {
    background: linear-gradient(140deg, #0a3a58, #126497, #faf8eb);
    display: flex;
    justify-content: center;
    margin: 50px auto 20px auto;
    width: 60%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.083);
}

/* Box Parts */
.part {
    position: relative;
    display: flex;
    font-family: eina;
    font-size: 22px;
    color: white;
    align-items: center;
    margin: 20px;
}

#b1 {
    z-index: 1;
    opacity: 0.2;
}

#b2 {
    z-index: 2;
    opacity: 0.5;
    transform: translate(10px, 10px);
}

#b3 {
    z-index: 3;
    transform: translate(20px, 20px);
}

/* Book Image */
.curr-book-image {
    position: absolute;
    top: 0;
    left: 0;
}

/* Horizontal Rule */
hr {
    border: 5px solid #0a3a58;
    border-radius: 10px;
    width: 5%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

/* Middle */
.middle {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Review Box */
.review-box {
    position: relative;
    padding: 10px;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    width: 60%;
    height: 16em;
    overflow: hidden;
}

.review-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125%;
    border-radius: 25px;
    z-index: -1;
}

/* Review Box Right */
.review-box-right {
    position: relative;
    padding: 5px;
    border-radius: 15px;
    z-index: 0;
    height: 15em;
}

.review-box-right::before {
    content: '';
    position: absolute;
    right: 0;
    width: calc(100% - 180px);
    height: 100%;
    background-color: white;
    filter: opacity(40%);
    border-radius: 15px;
    z-index: -1;
}

/* Book Image */
.book-image {
    height: 15em;
    float: left;
    margin: 10px;
    margin-right: 20px;
    border-radius: 15px;
    z-index: 2;
}

/* Footer */
.footer {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #126497a6;
    padding: 20px;
}

@media (max-width: 1000px) {

    .flex,
    .box {
        width: 100%;
    }

    .book-image {
        display: none;
    }

    .review-box {
        width: 90%;
    }

    .review-box-right::before {
        width: 100%;
    }
}