h1 {
    text-align: center;
    margin: 25px;
}

.section {
    opacity: 0;
    text-align: center;
    margin: 25px;
}

.workexperience > h3 {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    height: 98vh;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Playfair Display', serif;
    background-color: #aac4e7;
}

#email {
    float: left;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 25px;
}

.workexperience {
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.083);
}

#current.workexperience {
    grid-column: span 2;
    background-image: linear-gradient(#aac4e7, #95b8e5);
    
    
}
.past.workexperience {
    background-image: linear-gradient(#f8f9fa, #f8f9fa);
}

.workexperience > h2 {
    text-align: center;
}

.show {
    opacity: 1;
    animation-name: slideInLeft;
    animation-duration: 1s;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}